<!DOCTYPE html>
<title>Image</title>
<!-- <style>
    figcaption
    {
        text-align: center;
    }
</style> -->
<head>
    <h2>
        <center>Image Statistics</center>
    </h2>
</head>
<body>
    <table>
    <tr>
       <th> <img src="{{ user_image }}" alt="User Image">
        <figcaption>Original image</figcaption> </th>
        <th><img src="{{ blur_image }}" alt="Blur Image">
        <figcaption>Blur image</figcaption></th>
        <th><img src="{{ binary_image }}" alt="Binary Image">
        <figcaption>Binary image</figcaption></th>
        <th><img src="{{ histogram }}" alt="histogram">
        <figcaption>Color histogram</figcaption></th>
        <th><img src="{{ blur_histogram }}" alt="histogram">
         <figcaption>Blur Color histogram</figcaption></th>
    </tr>
    </table>
    <ul>
        <li>The image size is {{ size }} pixels</li>
        <li>The image dataype is {{ img_data_type }}</li>
    </ul>
</body>
</html>
